@import "utf-8";
* {
  font-family: "Noto Sans TC";
}
@font-face {
  font-family: "Rawclue copy";
  src: url("font/Rawclue copy.ttf") format("truetype");
}
@keyframes pop-up {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

/* 只影響首頁的 banner */
.home .banner {
  width: 85%;
  margin-top: 35px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  opacity: 0;
  animation: pop-up 1s ease-out forwards;
}

/* 只影響首頁的 content */
.home .content {
  display: flex;
  gap: 30px;
  padding-top: 10px;
  animation: pop-up 1s ease-out forwards;
}

/* 只影響首頁的 p 樣式 */
.home p {
  font-family: "Rawclue copy", sans-serif;
  color: #8dacd3;
  font-size: 150px;
  margin: 0;
}

/* 只影響首頁的選單 */
.home ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
  margin-top: 55px;
}

/* 只影響首頁的選單項目 */
.home ul li {
  font-size: 24px;
}

/* 只影響首頁的連結 */
.home ul li a {
  text-decoration: none;
  color: #525252;
  transition: color 0.3s ease;
}

.home ul li a:hover {
  color: #8dacd3;
}

.home a {
  color: #525252;
}


